* {
  margin: 0 auto;
  font-family: "Arial Narrow", Arial, sans-serif;
  color: white;
}
p {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  line-height: 1.7rem;
}
h1 {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  padding: 2rem 0;
}
button {
  padding: .5rem 2rem;
  background: transparent;
  border-radius: 10px;
  font-size: 1.5rem;
  border: solid 1px white;
  text-transform: uppercase;
  text-decoration:none;
}
a {
  cursor: default;
}
button:hover, button:focus {
  background-color: rgba(238,238,204,0.3);
}
button:active {
  font-weight: bold;
}

