main {
  height: 960px;
}
.event-module {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 3rem;
}
.bkg-image {
  background: url(/images/cityscape.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.event-info {
  width: 80%;
}
.event-info__title {
  width: 60%;
}
.event-info__location {
  padding-top: 2rem;
  width: 70%;
}
.event-speaker {
  background: url(/images/david.jpg) center no-repeat;
  width: 238px;
  height: 238px;
  border-radius: 50%;
}
