body, html{
  width: 100%;
  margin: 0 auto;
}

section ul{
  display: block;
  padding: 0px 0px 0px 0px;
}

.nav-bar{
  text-align: center;
  width: 100%;
}

.nav-bar__list{
  display: block;
}

.nav-bar__list__item{
  display: inline-block;
}

