/* MAIN FORM */

.contact-form--btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-form--comment {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN SECTION */

.github-image {
  width: 10%;
  border-radius: 50%;
}











