/* NAVIGATION */
.l-nav {
  text-transform: uppercase;
  padding-top: 1em;
  line-height: 1.5em;
  text-align: center;
}

.l-navigation-list--link {
  padding: 0.2em;
  text-decoration: none;
}

.l-navigation-list--item {
  display: inline;
  padding: 1em;
  font-size: 1em;
}

.l-navigation-list--link:hover {
  background: red;
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
}

/* HEADER */
.page-heading {
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
}

/* MAIN */

.main-wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* FOOTER */
.l-footer {
  font-size: 1em;
  border: 3em;
  padding-top: 0.5em;
}

.l-footer-image {
  float:right;
  padding: 1em;
  width: 5em;
}

.l-footer-location {
  display: inline-block;
  padding-left: 1em;
}
