.header-nav-ul {
  padding-right: 20px;
}

.header-nav-ul-li {
  display: inline-block;
  font-size: 1em;
  font-family: sans-serif;
  padding: 0 10px 0 10px;
}

.header-nav-ul-li-a:hover {
  color: blue;
}


