




/*  GRIDS   ============================================================================= */

.col_3_of_3 {
  width: 100%;
}

.col_1_of_3 {
  width: 32.26%;
}

.col_4_of_4 {
  width: 100%;
}

.col_1_of_4 {
  width: 23.8%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
.col_3_of_3 {
  width: 100%;
}

.col_1_of_3 {
  width: 100%;
  }
}

@media only screen and (max-width: 480px) {

.col_4_of_4 {
  width: 100%;
  }
.col_1_of_4 {
  width: 100%;
  }
}
